// app global css in SCSS form
*{
  font-family: Helvetica, Arial, sans-serif;

}
#chart{
  width: 100%;
}
.card-container{
  font-weight: bold;
}
.my-card{
  margin-bottom: 5%;
  margin-top: 2%;
  border-radius: 20px;
}
.q-page {
  padding-top:40px;
}
.fondo-lira {
  position: relative;
  background-image: url("~assets/fondo-lira.webp");
  background-size: 400px auto;
  background-repeat: repeat; /* Esto evitará que la imagen se repita */
  background-position: center center; /* Esto centrará la imagen en el elemento */
}
.fondo-lira::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(
    201,
    0,
    0,
    0.5
  ); /* Ajusta la opacidad según sea necesario */
  mix-blend-mode: multiply; /* Esto mezclará el color del overlay con la imagen de fondo */
}
@font-face {
    font-family: Nunito-Bold;
    src: url(./fonts/Nunito-Bold.woff);
  }

@font-face {
    font-family: Nunito-Regular;
    src: url(./fonts/Nunito-Regular.woff);
  }
  
  // declare a class which applies it
  .Nunito-Bold {
    font-family: 'Nunito-Bold';
  }

  .Nunito {
    font-family: 'Nunito-Regular';
  }

  .btnStyle {
    border-radius: 10px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: 'Nunito-Regular';
    background-color: #C90000;
    color: white;
  }
  .fontStyle {
    font-size: 16px;
    font-family: 'Nunito-Regular';
    color: #666;
  }
  .titulo {
    font-size: 22px;
    font-family: 'Nunito-Bold';
  }
  .subtitulo {
    font-size: 20px;
    font-family: 'Nunito-Bold';
  }

  .q-dialog__title{
    font-family: 'Nunito-Bold' !important;
  }
  
  .q-card__actions, .q-field__messages, .q-dialog__message{
    font-family: 'Nunito-Regular';
}

.alignLeft{
  position: absolute; 
  left: 0;
}

.alignCenter{
  display:flex;
  align-items:center;
}

.alignRight{
  position: absolute; 
  right: 0;
}

.bajarTitulo{
  margin-top: 25px;
}
.card-width {
  width: 350px;
}


.white{
  color:white;
}
.links {
  font-size: 16px;
  font-family: "Nunito-Regular";
  color: #C90000;
  text-decoration: none;
}
.black{
  color:black;
}

.full-width{
width: 100%;
}

.full-height{
  height: 100%;
}

.alignIcon {
  position: absolute;
  top: 6vw;
  left: 10px;
}

.textCenter{
  text-align: center;
}

.logo-celeste{
  background-color: #a2d7e2;
}

.logo-mostaza{
  background-color: #d5d04f;
}

.logo-rosa{
  background-color: #dea19a;
}

.bold{
  font-weight: bold;
}

.q-mt-xxl{
  margin-top: 80px;
}